@model web.Models.Contrato

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Contrato</h1>

<h3>¿Está seguro que desea eliminar el contrato de número @Model.Numero?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a style="text-decoration:none; color: white" class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
</div>