html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.claseTd {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cumplido {
    padding: 2rem 0 0 5.5rem;
}

@media (max-width: 576px) {
    .cumplido {
        padding: 2rem;
    }

    .desaparecer {
        display: none;
    }
}
